a, button {
  text-decoration: none;
  font-weight: bolder;
  color: var(--txt-color);
  padding: 10px 20px 10px 20px;
  position: relative;
  cursor: pointer;
}

a::before, button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  border: 1px solid var(--txt-color);
  transform: skew(-30deg);
}