@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url(./theme.css);
@import url(./scroll_down.css);
@import url(./button.css);

/*html {
  overflow-y: auto;
}

body {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}*/

html, body, #mainContainer {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

#mainContainer {
  overflow-y: hidden;
  /*scroll-snap-type: y mandatory;*/
}

/*#mainContainer > * {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}*/

.mainElement {
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s linear;
}

/*.mainElement:not(#mainPage) > * {
  position: relative;
  bottom: -100%;
  transition: bottom cubic-bezier(0, 0, 0.2, 1) 0.8s;
}

.mainElement:not(#mainPage).show > * {
  opacity: 1;
  bottom: 0;
}*/

.fadeIn {
  opacity: 1;
  animation: 1s fadeIn;
  transition: opacity 1s linear;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 100%; }
}

#embed {
  height: 100%;
  width: 100%;
  object-fit: cover;
  pointer-events: none;
  clip-path: polygon(1.8in 0, 100% 0, 100% 100%, 0 100%, 0 1.8in);
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.511);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#slogan, #blink {
  display: inline;
  font-family: 'Major Mono Display', monospace;
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

#blink {
  position: relative;
  left: -10px;
  animation: blinker 1.4s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#header_sign {
  position: absolute;
  z-index: 999;
  top: 15px;
  left: 15px;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  cursor: pointer;
}


.mouse_scroll {
  position: absolute;
  bottom: 20px;
}

.horizontal > * {
  display: inline-block;
}

h1 {
  font-weight: 100;
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
  text-align: center;
}