:root {
  --bg-color: white;
  --txt-color: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202124;
    --txt-color: #ebebeb;
  }
}

html, body {
  margin: 0;
  font-family: Arial;
  font-size: 15px;
  height: 100%;
  width: 100%;
  background-color: var(--bg-color);
  color: var(--txt-color);
}